<div class="container">
    <p>
    <strong class="color-primary-1">Pista ng Mapa</strong> (<i>Festival of Maps</i>) is the pioneer and premier free (as to cost and as in freedom) and open conference in the Philippines made for and by people who have a passion for open mapping, open data, and open source. It is an outreach activity to generate public interest, advocate and advance the use of open (geo) data, promote free and open source software for geospatial (FOSS4G), and support local open mapping communities around the Philippines.
    <br><br>
    Since the first Pista in 2019, it has brought together countless participants from different backgrounds to celebrate open source, open data, and open geospatial and have inspired new members to join, help, or start their own communities.
    <br><br>
    It is an event run wholly by volunteers and advocates from the local <strong>OpenStreetMap, OSGeo/FOSS4G, and other map-py communities</strong>.
    <strong>OpenStreetMap, OSGeo/FOSS4G, and other map-py communities</strong>.
    <br><br>
    Follow Pista ng Mapa on <a href="https://facebook.com/PistaNgMapa2020"><strong>Facebook</strong></a> and <a href="https://twitter.com/pistangmapa"><strong>Twitter</strong></a> for updates and announcements.
    </p>
</div>