<div class="container">
    <h1>Meet the Pista's Official University Partner</h1>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/partners/bu.png" alt="Pista ng Mapa 2022 University Partner - Bicol University" width="240px"></div>       
    </div>

    <h1>And Our Local Partners</h1>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/partners/buceng.png" alt="Pista ng Mapa 2022 University Partner - Bicol University College of Engineering" width="200px"></div>
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/partners/gep-busc.png" alt="Pista ng Mapa 2022 Partner - GEP-BUSC" width="240px"></div>      
    </div>
</div>