<div class="container">
    <h1>Submit your Presentations for PnM22!</h1>
    <p>
    BYOP! Bring Your Own Presentation! The Pista is a wonderful opportunity to take pride and share your work with the open data and open mapping communities in the Philippines!
    <br>
    Not sure if about how your presentation fits in the Pista? Check PnM22's <a href="{{site.baseurl}}/programme/presentation-guidelines">Pista ng Mapa 2022 Presentation Guidelines</a> for more information.
    <br>
    </p>
    {% include submit_cfp.html %}
</div>