<div class="container">
    <h1>Be a sponsor</h1>
    <p>
    Sharing is the essence of Pista. With the valuable support of our sponsors and partners, we are able to organize a free and open conference that fosters the growth of local and inclusive communities for Filipino open data, open source, and open mapping advocates, enthusiasts, and professionals. 
    </p>
    <div class="d-flex justify-content-start pt-2 pb-4"><a
    href=""
    target="_blank" class="btn btn-lg bg-color-primary-1 col-sm-12 col-md-6 btn-hover color-white" role="button"
    aria-disabled="true"><strong class="font-bantayog">Sponsor PnM 2022!</strong></a>
    </div> 
</div>