<div class="container">
    <h1>We would like to thank our sponsors!</h1>
    <h2>Co-Presenters</h2>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img class="img-fluid" width="720px" src="{{ site.baseurl }}/assets/img/logos/sponsors/01-aphub.png" alt="HOT Mapping Hub - Asia Pacific"></div>       
    </div>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img class="img-fluid" width="800px" src="{{ site.baseurl }}/assets/img/logos/sponsors/01-meta.png" alt="Meta"></div>       
    </div>
    <h2 class="py-4">Major Sponsors</h2>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/02-mapbeks.png" alt="" width="280px"></div>
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/02-geoladies.png" alt="" width="280px"></div> 
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/02-mha.png" alt="" width="280px"></div>
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/02-osm-ph.png" alt="" width="280px"></div>
        <div class="py-4"><a href="https://bnhr.xyz"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/02-bnhr.png" alt="" width="280px"></a></div>
    </div>
    <h2 class="py-4">Minor Sponsors</h2>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/03-mapbox.png" alt="" height="120px"></div>
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/03-soar.png" alt="" height="80px"></div>
        <div class="py-4"><img src="{{ site.baseurl }}/assets/img/logos/sponsors/03-tm.png" alt="" height="120px"></div>     
    </div>
</div>