<!-- Navigation -->
<div class="container pt-3 pb-2" id="page-top">
    <nav class="navbar navbar-default navbar-expand-lg navbar-trans d-print">
        <a class="navbar-brand" style="margin-right: 0px;" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" class="img-fluid" style="max-height: 72px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#">about</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/#about">pista ng mapa</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/conference/loc">organizing committee</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link btn-hover" href="{{ site.baseurl }}/#program">program</a>
                </li>
                <!-- <li>
                    <a class="nav-link btn-hover" href="{{ site.baseurl }}/#cfp">call for presentations</a>
                </li> -->
                <!-- <li>
                    <a class="nav-link btn-hover" href="{{ site.baseurl }}/#registration">register</a>
                </li> -->
                <!-- <li>
                    <a class="nav-link btn-hover" href="{{ site.baseurl }}/#sponsors">sponsor</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#">conference</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/conference/travel-guidelines">travel guidelines</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/conference/code-of-conduct">code of conduct</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/programme/presentation-guidelines">presentation guidelines</a>
                    </div>
                </li>
                <!-- <li>
                    <a class="nav-link btn-hover" href="{{ site.baseurl }}/#sponsors">Sponsor</a>
                </li>                 -->
            </ul>
        </div>
    </nav>
</div>
