<button onclick="topFunction()" id="to-top-button" title="Go to top"><i class="fas fa-chevron-up"></i></button>

<script>
// When the user scrolls down 100px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
        document.getElementById("to-top-button").style.display = "block";
    } else {
        document.getElementById("to-top-button").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
