$color-primary: #2e2e2e;
$color-primary-dark: #0f0f0f;
$color-primary-light: #6f6f6f;
$color-muted: #f3f3f3;

$color-pnm-red: #8b1948;
$color-pnm-blue:#3f2384;
$color-pnm-yellow: #e29e00;
$color-pnm-muted: #4d4d4d;

//PmM20
// $color-pnm-red: #CE3704;
// $color-pnm-blue:#2386D2;
// $color-pnm-yellow: #feb938;
// $color-pnm-muted: #4d4d4d;

// Others
$color-secondary: #5bcfbf;
$color-tertiary: #32b9bd;
$color-accent-red: #cc3500;
$color-accent-blue: #2184d0;
$color-accent-yellow: #fcec18;

$color-primary-1: #4c9f70;
$color-primary-2: #6190BD;
$color-primary-3: #ffcf33;
$color-primary-4: #f4562a;
$color-black: #0f0f0f;
$color-white: #ffffff;
$color-grey: #6f6f6f;

$color-muted: #f3f3f3;
$color-accent-1: #61c5b8;
$color-accent-2: #fffcdf;
$color-accent-3: #b80000;
$color-accent-4: #e8e5cb;
$color-accent-5: #422b24;

.color-primary-1 {
    color: $color-primary-1;
}

.color-primary-2 {
    color: $color-primary-2;
}

.color-primary-3 {
    color: $color-primary-3;
}

.color-primary-4 {
    color: $color-primary-4;
}

.color-black {
    color: $color-black;
}

.color-white {
    color: $color-white;
}

.color-muted {
    color: $color-muted;
}

.color-accent-1 {
    color: $color-accent-1;
}

.color-accent-2 {
    color: $color-accent-2;
}

.color-accent-3 {
    color: $color-accent-3;
}

.color-accent-4 {
    color: $color-accent-4;
}


.color-accent-5 {
    color: $color-accent-5;
}

.bg-color-primary-1 {
    background-color: $color-primary-1;
}

.bg-color-primary-2 {
    background-color: $color-primary-2;
}

.bg-color-primary-3 {
    background-color: $color-primary-3;
}

.bg-color-primary-4 {
    background-color: $color-primary-4;
}

.bg-color-muted {
    background-color: $color-muted;
}

.bg-color-accent-1 {
    background-color: $color-accent-1;
}

.bg-color-accent-2 {
    background-color: $color-accent-2;
}

.bg-color-accent-3 {
    background-color: $color-accent-3;
}

.bg-color-accent-4 {
    background-color: $color-accent-4;
}


.bg-color-accent-5 {
    background-color: $color-accent-5;
}