// Images
.post-img {
    display: block;
    margin: auto;
}

.img-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 12px 0px rgba(0, 0, 0, 0.20);
}

.img-container {
    margin-bottom: 1.2em;
}
